@font-face {
  font-family: "Graphik-Regular";
  src: url("../public/Assets/Fonts/Graphik-Regular.ttf")
}

@font-face {
  font-family: "Graphik-Bold";
  src: url("../public/Assets/Fonts/Graphik-Bold.ttf")
}

@font-face {
  font-family: "Graphik-Semibold";
  src: url("../public/Assets/Fonts/Graphik-Semibold.ttf")
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



h1 {
  text-align: center;
  font-family: "Graphik-Bold" ;
  padding: 50px;
}

.form-group {
  
  margin-top: 15px;
  font-family: "Graphik-Regular";
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  background-image: url(photos/party-rooftop-celavi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  
  border: 0px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  box-sizing: content-box;
  padding: 50px;
  font-size: 20px;
  
  
}

.form-texts{
  
  margin-left: 140px;
  margin-right: 140px;
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 10px;
  
  
}

.form-texts:hover{
  transform: scale(1.02) ;
}

.form-input{
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
}








.input-field-capacity {
  width: 50%;
  border-radius: 5px;
}

.input-field-capacity:hover {
  transform: scale(0.98);
  background-color: rgb(222, 234, 243);
}

.input-field-date {
  width: 50%;
  border-radius: 5px;
}

.input-field-date:hover {
  transform: scale(0.98);
  background-color: rgb(222, 234, 243);
}

.input-field:hover {
  
  transform: scale(1.01);
  
}





#form-elements{
  color: #050303;
  
  
}

label{
  font-family: "Graphik-Bold";
  font-size: 25px;
}




.button-container {
  display: flex;
  justify-content: space-around;

}

.button-area-item {
  align-content: center;
  margin: 20px 0 20px 0;
}

.button-area-item:hover{
  transform: scale(1.05);
}

#submit {
  background-color: #FF7800; 
  border: none;
  color: white;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: "Graphik-Semibold";
}

#back-to-home {
  background-color: #FF7800; 
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: "Graphik-Semibold";

}

#submit:hover{
  background-color: #eca566;

}

#back-to-home:hover{
  background-color: #eca566;

}

#venueDescription{
    height: 200px;
    font-size:16px;
    border:1px solid rgb(3, 3, 3);
    display:inline-block;
    cursor:text;
    vertical-align:top;
    box-sizing: border-box;
    max-height: 100%;
    padding-top: 0;
  
}