

.banner {
    background: url("photos/party-rooftop-celavi.jpg") center ;background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;
    position: relative;
    
}

.banner-info {
    background-color:#faebd7;
    color: black;
    padding: 25vh 50px 40px 50px;
    width: 300px;
    background-color: rgba(250, 235, 215, 0.7);
    text-align: center;
}

.banner-info-button {
    
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner-info-button:hover {
    background-color: white;
    color: #ff7779;

}

#add-venue-button{
    background-color: #555555; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}