@font-face {
    font-family: "Graphik-Regular";
    src: url("../public/Assets/Fonts/Graphik-Regular.ttf")
  }
  
  @font-face {
    font-family: "Graphik-Bold";
    src: url("../public/Assets/Fonts/Graphik-Bold.ttf")
  }
  
  @font-face {
    font-family: "Graphik-Semibold";
    src: url("../public/Assets/Fonts/Graphik-Semibold.ttf")
  }

.banner {
    background: url("photos/banner.jpg") center ;background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;
    background-position: center;
    z-index:-1;
    object-fit: cover;
    height:300px;
    background-color: black;
    color: white;
    padding: 0px;
    padding-left:0px;
    padding-top:0px;
    
    
}

#banner-welcome {
    font-family: "Graphik-Bold";
    color: aliceblue;
    font-size: 50px;
    
}

#banner-message {
    font-family: "Graphik-Semibold";
    color: aliceblue;
    font-size: larger;
}

#banner-instruction {
    font-family: "Graphik-Regular";
    color: aliceblue;
    font-size: larger;
}

#banner-instruction em {
    font-family: "Graphik-Semibold";
    color: #701edb;
    font-size: larger;
}

.banner-info {   
    
    background-position: center;
    background-color: rgba(32, 31, 30, 0.7);
    width: max-content;
    height: 300px ;
    position: relative;
    
    padding: 20px;
    padding-left:20px;
    padding-top:10px;
}

.banner-info-button {
    
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner-info-button:hover {
    background-color: white;
    color: #ff7779;

}

#add-venue-button{
    background-color: #701edb;
    font-family: "Graphik-Semibold";
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#add-venue-button:hover{
    background-color: #9d6edb;
    font-family: "Graphik-Semibold";
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}