.footer {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    padding-left:50px;
    padding-right: 50px;
    color: #FFEB32
  }
  
  .bg-dark{
    background-color: black;
  }
  
  #footerTitle{
    color: white;
    font-size: min(5vw, 35px);
    font-family: "Graphik-Semibold";
  }
  
  #footerLine {
    height:2px;
    background: linear-gradient(90deg ,#FFEB32, #FF7800);;
    margin-bottom: 30px;
  }
  
  .link {
    color: #FF7800
  }