.venue-card-item {
    background-color: #686669;
    color: white;
    margin: 10px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
}

.venue-card-item:hover {
    transform: scale(1.07);
}

.venue-card-item > img {
    object-fit: contain;
    height: 12rem;
    width: 100%;
}
.venue-card-item-info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0;
    border: 1;
    text-align: center;

}

.venue-card-item-info > h2 {
    font-size: 18px;
    font-weight: 600;
}

.venue-card-item-info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;

}

.venue-card-item-info > button {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #ff7779;
    background: transparent;
    border-radius: 5%;
}

.venue-card-item-info > button:hover {
    background-color: white;
    color: #ff7779;
    cursor: pointer;
}

#summary-button{
    background-color: #420f5f; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}